/* General Elements*/
body{
	background-image: url("../images/wallpaper.jpg")
}
div{
	background-color: white;
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
	align-content: center
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #grey;
}
div.header, div.instructions{
	width: 55%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 10%;
	height: 65px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 70px;
	margin: 10px;
}